# Common
python-cqrs==3.0.0
orjson==3.11.6
pydantic==2.8.2
pydantic-settings==2.2.1

# API
fastapi_app@git+https://github.com/vadikko2/fastapi-app@0.0.2
fastapi==0.109.2

# Cache
redis==5.0.3

# S3
boto3==1.34.131

# Images
blurhash==1.1.5
simplejpeg==1.8.2
pillow==12.1.1


# Audio
pydub==0.25.1

# Http
httpx==0.27.0
httpx-retries==0.4.0

# Auth
pyjwt[crypto]==2.10.1
